<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span>
        <%= link_to "follow", edit_user_path(@user.id) %>
      </span>
      <dl>
        <dt>メールアドレス</dt><dd><%= @user.email %></dd>
        <dt>プロフィール</dt><dd><%= @user.admin %></dd>
        <dt>場所</dt><dd><%= @user.created_at %></dd>
        <dt>投稿数</dt><dd></dd>
      </dl>
    </section>
  </aside>
  <div class="col-md-8">
      <%= form_for(@micropost) do |f| %> 
        <div class="field">
          <%= f.label :title %>
      　　<%= f.text_field :title, placeholder: "題名" %>
      
      　　<%= f.label :content %>
      　　<%= f.text_area :content, placeholder: "Compose new micropost..." %>
      
      　　<%= f.label :image %>
      　　<%= f.file_field :image %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>
      <h3>Microposts</h3>
      <ol class="microposts">
        <%= image_tag(@user.person.image , alt: "") %>
        <%= @user.person %>
      </ol>
  </div>
</div>