<section>
    <h2>りょうしん</h2>
    <div class="row">
    <% @parents.each do |person| %>
        <% if person.gender == 1 %>
        <% end %>
        <div class="col-md-1">
        <%= person.first_name  %>
        <%= person.birth_date  %>
        <%= person.birth_place  %>
        </div>
    <% end %>
    <div class="col-md-1">
        <%= link_to "tree", trees_path %>
    </div>
    </div>
</section>


<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2><%= current_person.first_name  %></h2>
    <%= current_person.birth_date  %>
    <%= current_person.birth_place  %>
    <%= image_tag(current_person.image) %></div>
  <div class="col-xs-6 col-md-4">
    <h2>Partner</h2>
    <%= @spouse.birth_date  %>
    <%= @spouse.birth_place  %>
  </div>
</div>

<section>
    <h2>子供</h2>
    <div class="row">
    <% @children.each do |person| %>
        <% if person.gender == 1 %>
        <% end %>
        <div class="col-md-1">
            <h2><%= person.first_name  %></h2>
            <%= person.birth_date  %>
            <%= person.birth_place  %>
        </div>
    <% end %>
    </div>
</section>
