<section>
    <h2>りょうしん</h2>
    <div class="row">
    <% @parents.each do |person| %>
        <% if person.gender == 1 %>
        <% end %>
        <div class="col-md-<%= (12/@parents.count) - 1 %>">
        <%= link_to person.first_name, tree_path(person.id) , class: "" %>
        <%= person.birth_date  %>
        <%= person.birth_place  %>
        </div>
    <% end %>
    <div class="col-md-1">
        <%= link_to "追加する", new_person_path+"?type=parent" , class: "btn btn-default btn-lg active", role: "button" %>
    </div>
    </div>
</section>


<div class="row">
  <div class="col-xs-12 col-md-8">
    <h2><%= current_person.first_name  %></h2>
    <%= current_person.birth_date  %>
    <%= current_person.birth_place  %>
    <%= image_tag(current_person.image) %></div>
  <div class="col-xs-6 col-md-4">
    <h2>Partner</h2>
    <% unless @spouse.nil? %>
        <%= link_to @spouse.first_name, tree_path(@spouse.id) , class: "" %>
        <%= @spouse.birth_date  %>
        <%= @spouse.birth_place  %>
        <%= link_to "追加する", new_person_path+"?type=spouse" , class: "btn btn-default btn-lg active", role: "button" %>
    <% end %>
  </div>
</div>

<section>
    <h2>子供</h2>
    <div class="row">
    <% @children.each do |person| %>
        <% if person.gender == 1 %>
        <% end %>
        <div class="col-md-1">
            <h2><%= link_to person.first_name, tree_path(person.id) , class: "" %></h2>
            <%= link_to "編集", edit_person_path(person.id) , class: "" %>
            <%= person.birth_date  %>
            <%= person.birth_place  %>
        </div>
    <% end %>
        <div class="col-md-1">
        <%= link_to "追加する", new_person_path+"?type=child" , class: "btn btn-default btn-lg active", role: "button" %>
        </div>
    </div>
</section>
